.table-container{
    width: 100vw;
   display: flex;
   justify-content: center;
    padding: 2rem;
    table{
        border: 2px solid black;
        width: 80vw;
        tr{
            th{
                border: 2px solid black;
                padding: 0 2rem;
                margin-left: 2rem;
            }
            td{
                border: 2px solid black;
                padding: 1rem;
                transition: all .5s ease-in;
                button{
                    padding: .3rem .5rem;
                    cursor: pointer;
                    transition: all .5s ease-in;
                    &:hover{
                        background-color: rgb(168, 187, 203);
                    }
                }
                
                .btn-edit{
                    margin-right: 1.5rem;
                }
            }
        }
    }
}